{% extends 'fashion/base.html' %}
{% load static %}
<!-- Hero Section Begin -->
{% block content %}
<!-- Contact Section Begin -->
    <section class="contact spad login-spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="contact__form auth-page">
                        <div class="col-lg-12">
                            <h2 class="text-center login my-4">Password Changed Successfully !!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock content %}