{% load static %}
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="{% static 'fashion/css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'fashion/css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'fashion/css/elegant-icons.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'fashion/css/magnific-popup.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'fashion/css/nice-select.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'fashion/css/owl.carousel.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'fashion/css/slicknav.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'fashion/css/style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'fashion/css/custom.css' %}" type="text/css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">