{% extends 'core/base.html' %}
{% load static %}
<!-- Hero Section Begin -->
{% block content %}
<!-- Contact Section Begin -->
    <section class="contact spad login-spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form auth-page">
                        <h2 class="text-center login my-4">Login</h2>
                        <div class="col-lg-12">
                            {% for message in messages %}
                                <div class="col-lg-12">
                                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="True">&times;</span>
                                        </button>
                                        {{ message }}
                                  </div>
                                </div>
                            {% endfor %}
                        </div>
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="small mb-1">Email:</label>
                                        {{ form.email }}
                                        <small class="text-danger">{{ form.errors.email|striptags }}</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="small mb-1">Password:</label>
                                        {{ form.password1 }}
                                        <small class="text-danger">{{ form.errors.password1|striptags }}</small>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="site-btn btn-block">Login</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center my-3">
                                    <a href="#" class="forgot-link">Forgot your password?</a>
                                </div>
                                <div class="col-md-12 text-center">
                                    <a href="{% url 'signup' %}" class="forgot-link">Create Account</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock content %}